.oneLine_prscr_detail_container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.oneLinePrscr_detail_up_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 265px;
	background-color: #f7fbff;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.oneLinePrscr_detail_content_container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	max-width: 1080px;
	z-index: 1;
	padding: 50px 0;
	/* background-color: yellow; */
}

.prscr_detail_left_wrapper {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	width: 35%;
	height: 100%;
}

.prscr_detail_img_wrapper {
	text-align: center;
	height: 60%;
	margin-bottom: 40px;
}

#oneLine-prscr-book-img {
	width: 250px;
	height: 100%;
}

.prscr_detail_bookAbout_wrapper {
	padding-left: 25px;
}

.prscr_detail_bookAbout_wrapper > p {
	/* margin-left: 25px; */
	font-family: var(--basic-font);
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	line-height: 36px;
}

.bookAbout_content {
	display: flex;
	width: 100%;
	height: 250px;
	margin-top: 15px;
	background-color: blue;
}

.bookKeyword_wrapper {
	display: flex;
	width: 100%;
	height: 70px;
	margin-top: 20px;
	background-color: red;
}

.prscr_detail_right_wrapper {
	display: flex;
	flex-direction: column;
	width: 65%;
	margin-left: 40px;
}

.prscr_detail_bookInfo_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 215px;
}

.bookInfo_title_wrapper {
	display: flex;
	width: 100%;
	height: 65px;
	justify-content: space-between;
	align-items: flex-start;
	padding-right: 60px;
	font-size: 28px;
	font-family: var(--basic-font);
	font-weight: 600;
}

.prscr_detail_bookInfo_wrapper > p {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	font-style: normal;
	font-family: var(--basic-font);
	color: #454545;
}

#delete-btn {
	width: 100px;
	height: 40px;
	background-color: #ffdadf;
	border-radius: 10px;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
}

.prscr_detail_user_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 45px;
	margin: 25px 0;
}

.userInfo_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 14px;
	font-weight: 600;
	font-family: var(--basic-font);
	font-style: normal;
}

.userInfo_wrapper > #user_img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.prscr_detail_evaluation_wrapper {
	display: flex;
	width: 310px;
	align-items: center;
	justify-content: space-between;
	margin-right: 60px;
}

.prscr_detail_evaluation_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 45px;
	margin-right: 10px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: 600;
	font-family: var(--basic-font);
	font-style: normal;
	line-height: 19px;

	background-color: #fff;
	border-radius: 15px;
	border: 2px solid #d9d9d9;
}

.prscr_detail_evaluation_btn > #laugh-icon,
.prscr_detail_evaluation_btn > #like-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.prscr_detail_content_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 380px;
	border-radius: 30px;
	padding: 25px;
	box-shadow: 2px 2px 12px -2px rgba(0, 0, 0, 0.25);
}

.prscr_detail_content_title_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	font-family: var(--basic-font);
	font-size: 20px;
	font-weight: 600;
	color: #454545;
	border-bottom: 1px solid #d9d9d9;
}
