.card_container {
	width: 160px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.book_img {
	width: 148px;
	height: 210px;
	border-radius: 5px;
	background: #d9d9d9;
}

.book_thumbnail {
	width: 148px;
	height: 210px;
}

.book_info_wrapper {
	width: 148px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.book_title {
	width: 100%;
	margin-top: 16px;
	color: #000;
	font-family: var(--basic-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.book_author {
	width: 100%;
	margin-top: 8px;
	color: #000;
	font-family: var(--basic-font);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
