.bookList_content {
	max-width: unset;
	font-family: var(--basic-font);
	padding: 0;
}

.bookList_title {
	margin: 0 auto;
	padding: 20px;
	text-align: center;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
}

.bookList_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

.bookList_title_wrapper {
	margin-top: 30px;
}
