.bookDetail_content {
	box-sizing: border-box;
	max-width: 1080px;
	height: 2450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.bookSummary_wrapper {
	position: sticky;
	display: flex;
	width: 1080px;
	height: 360px;
	margin-top: 78px;
	padding: 35px 48px;
	border-radius: 20px;
	background: #f3fdff;
	box-shadow: 6px 6px 30px 0px rgba(119, 119, 119, 0.47);
}

.bookDt_summary_left_wrapper {
	display: flex;
	align-items: center;
	width: 272px;
	margin-right: 30px;
}

.bookDt_summary_left_wrapper img {
	width: 100%;
	height: 100%;
	margin-right: 30px;
}

.summary_right_wrapper {
	width: 100%;
}

.summary_right_up_wrapper {
	display: flex;
	justify-content: space-between;
}

.right_up_left_wrapper {
	width: 585px;
}

.right_up_left_book_title {
	color: #000;
	font-family: var(--basic-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.right_up_left_wrapper > p {
	color: #000;
	font-family: var(--basic-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
}

.right_up_right_exp {
	display: flex;
}

.prscr_add_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 135px;
	height: 40px;
	padding: 10px;
	border: 4px solid #c8edf2;
	border-radius: 15px;
	cursor: pointer;
	font-family: var(--basic-font);
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s;
}

.prscr_add_btn:hover {
	background: transparent;
	box-shadow: inset 135px 0 0 0 #c8edf2;
}

.summary_right_mid_wrapper {
	display: flex;
	position: sticky;
	width: 100%;
	height: 135px;
	margin-top: 20px;
}

.summary_right_bottom_wrapper {
	width: 68%;
	position: absolute;
	bottom: 35px;
}

.right_bottom_text_wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* width: 885px; */
	height: 50px;
	border-radius: 15px;
	background: #c8edf2;
	box-shadow: 2px 2px 4px 0px rgba(119, 119, 119, 0.25);
}

.bottom_text_bookInfo,
.bottom_text_review,
.bottom_text_bookList {
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	cursor: pointer;
}

.bottom_text_separate {
	margin: 0;
	width: 0;
	height: 40px;
	/* border: 1px solid #104773; */
	border: 1px solid #66b6c1ab;
}

.bookInfo_wrapper {
	width: 1080px;
	height: 550px;
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	padding-top: 70px;
	align-items: flex-start;
}

.bookInfo_title {
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.bookInfo_content {
	/* width: 1338px; */
	width: 100%;
	max-width: 1080px;
	margin-top: 32px;
}

.content_bold {
	color: #000;
	font-family: var(--basic-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 700 !important;
	line-height: normal;
}

.content_normal {
	margin-top: 20px;
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}

.book_oneLinePrscr_wrapper {
	width: 1080px;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	padding-top: 70px;
	align-items: flex-start;
}

.book_oneLinePrscr_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 600px;
	margin-top: 50px;
	padding-top: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.book_no_oneLinePrscr_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 500px;
	margin-top: 100px;
	font-size: 30px;
	font-family: var(--title-font);
	font-weight: 400;
	font-style: normal;
	line-height: 50px;
}

#book_no_prscr_img {
	position: relative;
	width: 600px;
	height: 580px;
	top: -80px;
}

.relationBookList_wrapper {
	height: 435px;
	margin: 240px auto 0;
	width: 1080px;
}

.BookList_container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 24px;
	margin-top: 32px;
	width: 1080px;
	padding-right: 15px;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: space-around; */
}

.No_BookList_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70%;
	max-width: 1080px;
	font-family: var(--title-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #000;
}

.bookDetail_footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 100px;
}
