.feed_content {
	margin: 0 auto;
	max-width: 1440px;
	padding: 24px;
	height: 1000vh;
	display: flex;
	flex-direction: column;
}

.feed_title_wrapper {
	width: auto;
	height: 50px;
	padding: 10px;
}

.feed_title {
	color: #000;
	font-family: Pretendard;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.feed_content_wrapper {
	max-width: 1440px;
	height: 500px;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
}
