.footer_wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 24px 65px 12px;

	background-color: #ffffff;
}

.footer_inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 5vh;
	justify-content: center;
	color: #000;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
