.footer_wrapper {
	max-width: 1080px;
	/* margin: 0 auto; */
	padding: 24px 65px 12px;
	background-color: #ffffff;
	margin-top: 100px;
	margin: 100px auto 20px auto;
	/* margin-right: auto; */
}

.footer_inner {
	/* width: 100%; */
	/* max-width: 1080px; */
	display: flex;
	flex-direction: column;
	height: 5vh;
	justify-content: center;
	color: #000;
	font-family: var(--basic-font);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 19px;
}
