.footer_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 200px;
	background-color: #00b2fc;
}

.footer_inner {
	width: 100%;
	max-width: 1120px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	color: #fff;
	font-family: var(--basic-font);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 19px;
}
