.Tag-default {
	height: 40px;
	border-radius: 20px;
	border: 2px solid var(--dd, #a4d6de);
	background: #fff;
	padding-bottom: 2px;
	color: #000;
	font-family: var(--basic-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.Tag-sm-category {
	margin-top: 4px;
	margin-left: 4px;
	padding: 5px;
	background: #ffffff;
	border: 1.5px solid #a4d6de;
	border-radius: 10px;

	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.Tag-interest {
	height: 35px;
	border-radius: 20px;
	border: 3px solid #a4d6de;
	background: #fff;
	padding-bottom: 2px;
	color: #000;
	font-family: var(--basic-font);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin-right: 5px;
	white-space: nowrap;
}
