@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

.Tag-default {
	width: 100px;
	height: 35px;
	border-radius: 20px;
	border: 2px solid var(--dd, #a4d6de);
	background: #fff;
	padding-bottom: 2px;

	/* Font */
	color: #000;
	font-family: 'Pretendard-Regular';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-right: 15px;
}

.Tag-sm-category {
	margin-top: 4px;
	margin-left: 4px;
	padding: 5px;
	background: #ffffff;
	border: 1.5px solid #a4d6de;
	border-radius: 10px;

	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}
