.home {
	box-sizing: border-box;
	white-space: pre-line;
}

.home_header_section {
	position: sticky;
	width: 100%;
	z-index: 100;
	/* background-color: hsla(0, 0%, 100%, 0.9); */
	background-color: #fff;
	top: 0;
}

.home_header {
	display: flex;
	height: 64px;
	border-bottom: 0.5px solid #dfdfdf;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	/* font */
	font-family: 'GmarketSans';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.home_header_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 30px;
}

.header_logo img {
	width: 50%;
	display: flex;
	align-items: center;
}

#home_header_btn {
	float: right;
	font-family: 'GmarketSans';
}

.home_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.home_main_wrapper {
	position: relative;
	display: block;
	height: 680px;
	max-width: 1200px;
	margin: 0 auto;
	/* background: url('../assets/banner.png');
	background-size: 1336px;
	background-repeat: no-repeat;
	background-position: 73% -2%; */
}

#home-banner {
	width: 1275px;
	height: 693px;
	z-index: -1;
	position: absolute;
	right: -56px;
}

.home_main_title_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 700px;
	text-align: left;
	margin-top: 30px;
}

@keyframes fadeIn-up {
	0% {
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.big_title {
	color: #000;
	font-family: var(--basic-font);
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	/* animation */
	animation: fadeIn-up 1.8s forwards;
}

.small_title {
	color: #000;
	font-family: var(--basic-font);
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	/* animation */
	animation: fadeIn-up 1.8s forwards;
}

.home_feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a4d6de;
}

.feature_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto 0 auto;
	max-width: 1440px;
	height: 848px;
	padding-top: 100px;
	margin-top: 20px;
}

.feature_title {
	display: flex;
	justify-content: center;
	width: 100%;
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}

.swiper {
	width: 80%;
	height: 100%;
}

.home_feature .swiper-wrapper {
	display: flex;
	box-sizing: border-box !important;
	justify-items: center;
	padding-left: 100px;
}

.home_feature .swiper-slide {
	filter: blur(3px) !important;
	width: 500px;
	height: 100%;
	text-align: center;
	/* background: #fff; */

	/* Center slide text vertically */
	display: flex !important;
	align-items: center;
}

.home_feature .swiper-slide-active {
	width: 450px;

	filter: blur(0) !important;
}

/* .home_feature .swiper-button-next {
	background: url(/public/icon/home-right-arrow.png) no-repeat !important;
	background-size: 100% auto;
	background-position: center !important;
}

.swiper-button-prev {
	background: url(/public/icon/home-left-arrow.png) no-repeat !important;
	background-size: 100% auto;
	background-position: center !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
} */

.feature_slide {
	width: 100%;
	height: 80%;
}

.feature_swiper {
	width: 1120px;
	height: 600px;
	padding-top: 3.125rem;
}

.feature_swiper_slider {
	width: 300px;
	height: 100%;
}

.feature_icon {
	width: 200px;
	height: 200px;
	align-items: center;
}

.feature_card {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 27px;
	box-shadow: 0 2px 10px 0 #848484;
	padding: 20px;
}

.feature_card_title {
	margin-top: 10px;
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.feature_card_description {
	margin-top: 10px;
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/* .emotion_wrapper {
	background-color: #ffffff;
	width: 100%;
	height: 1700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.emotion_up_wrapper {
	max-width: 1440px;
	margin-top: 150px;
	justify-content: center;
	align-items: center;
}

.emotion_title {
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.emotion_slide_wrapper {
	max-width: 1440px;
	width: 1200px;
	height: 100px;
	margin-top: 50px;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.emotion_slide {
	display: grid;
	grid-template-columns: repeat(6, auto);
	gap: 2%;
	align-items: center;
}

.emotion_text {
	margin-top: 250px;
	color: #000;
	text-align: center;
	font-family: var(--basic-font);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.emotion_bottom_wrapper {
	max-width: 1440px;
}

.emotionBook_slide {
	margin-top: 80px;
	align-items: center;
} */

/* 고민 상담 */
.home_counseling {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
}

.home_counseling_title_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	font-family: var(--basic-font);
	row-gap: 20px;
}

.home_counseling_title_wrapper > p {
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	color: #000;
}

#home_cns_title {
	margin-top: 20px;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	line-height: 47px;
	color: #000;
}

.home_counseling_content_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 850px;
	align-items: center;
	padding: 0px 15%;
}

.user-bubble {
	width: 265px;
	height: 52px;
	position: relative;
	background: #dce9ec;
	border-radius: 10px;
	padding: 10px 10px 10px 30px;
	font-family: var(--basic-font);
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	right: -330px;
	margin-top: 40px;
}

.user-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 85%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-bottom-color: #dce9ec;
	border-top: 0;
	border-right: 0;
	margin-left: -9px;
	margin-top: -23px;
}

.home_cns_ai_wrapper {
	display: flex;
	width: 650px;
	height: 250px;
	margin-top: 90px;
	position: relative;
	left: -315px;
}

#robot-icon,
#user-icon {
	width: 60px;
	height: 60px;
	margin-right: 65px;
}

.ai-bubble {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 550px;
	height: 230px;
	background: #edf9f3;
	border-radius: 10px;
	padding: 10px;
}

.ai-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 21%;
	width: 0;
	height: 0;
	border: 49px solid transparent;
	border-right-color: #edf9f3;
	border-left: 0;
	border-top: 0;
	margin-top: -24.5px;
	margin-left: -49px;
}

.ai_prscr_title {
	font-family: var(--basic-font);
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 31px;
}

.ai_prscr_content_wrapper {
	display: flex;
	width: 100%;
	height: 80%;
	margin-top: 20px;
	padding: 0 20px;
}

.ai_prscr_left_wrapper {
	display: flex;
	width: 50%;
	height: 100%;
}

#ai_prscr_thumbnail {
	width: 105px;
	height: 140px;
	margin-right: 20px;
}

.ai_prscr_bookInfo_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ai_prscr_bookInfo_wrapper > p {
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #848484;
	margin-top: 5px;
}

#ai_prscr_bookTitle {
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 10px;
	color: #000;
	margin-bottom: 10px;
}

.ai_prscr_right_wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

#ai_prscr_res_title {
	position: relative;
	width: 65px;
	top: 0;
	left: 25px;
	z-index: 1;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	background-color: #edf9f3;
	text-align: center;
}

.ai_prscr_res_box {
	width: 100%;
	height: 100%;
	padding: 15px;
	border: 2px solid #5bb683;
	border-radius: 15px;
	position: relative;
	top: -10px;

	font-family: var(--basic-font);
	font-style: normal;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

/* 처방전 */
.home_prescription {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	background-color: #dce9ec;
}

.home_prscr_title_wrapper {
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	line-height: 47px;
	color: #000;
}

.home_prscr_content_wrapper {
	display: flex;
	width: 100%;
	height: 700px;
	justify-content: center;
	align-items: center;
}

.home_prscrCard_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 460px;
	height: 615px;
	border: 5px solid #a5debe;
	background-color: #fff;
	border-radius: 15px;
	padding: 10px;
}

.home_prscrCard_title_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-bottom: 60px;
}

#home_prscrCard_icon-1 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 15px;
}

.home_prscrCard_title {
	position: absolute;
	top: 55px;
	width: 55%;
	height: 40px;
	border-bottom: 1px solid #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	color: #000;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.home_prscrCard_content_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 15px;
}

.home_prscrCard_bookInfo_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 85%;
	height: 45%;
	padding-top: 20px;
	border: 2px solid #a5debe;
	border-radius: 15px;
}

#home_prscrCard_info_title {
	z-index: 1;
	position: absolute;
	top: -10px;
	left: 30px;
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	background-color: #fff;
	width: 80px;
	text-align: center;
	color: #a5debe;
}

#bookInfo-thumbnail {
	width: 130px;
	height: 170px;
	margin-right: 20px;
}

.bookInfo_right_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	height: 100%;
}

.bookInfo_right_wrapper > p {
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #848484;
	margin-top: 5px;
}

#prscrCard_bookInfo_title {
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #000;
	margin-bottom: 5px;
}

#prscrCard_icon_group {
	position: absolute;
	width: 60px;
	height: 70px;
	bottom: 8px;
	right: 0;
}

.home_prscrCard_res_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 45%;
	margin-top: 20px;
	border: 2px solid #a5debe;
	border-radius: 15px;
	padding: 15px;

	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000;
}

.home_prscrCard_res_wrapper > span {
	z-index: 1;
	position: absolute;
	top: -10px;
	left: 30px;
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	background-color: #fff;
	width: 80px;
	text-align: center;
	color: #a5debe;
}

.home_prscrCard_footer {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 10px;
}

.home_prscrCard_footer > p {
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #a5debe;
}

/* Footer */
.home_footer_wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 24px 65px 12px;
	background-color: #ffffff;
}

.home_footer_inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 5vh;
	justify-content: center;
	align-items: center;
	color: #000;
	font-family: var(--basic-font);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
