.home {
	box-sizing: border-box;
	white-space: pre-line;
}

.home_header_section {
	position: sticky;
	width: 100%;
	z-index: 100;
	background-color: hsla(0, 0%, 100%, 0.9);
	top: 0;
}

.home_header {
	display: flex;
	position: relative;
	height: 64px;
	border-bottom: 0.5px solid #dfdfdf;
	padding: 0 24px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: center;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	/* font */
	font-family: 'GmarketSans';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#home_header_btn {
	float: right;
	font-family: 'GmarketSans';
}

.home_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.home_main_wrapper {
	height: 720px;
}

.home_main_img {
	position: relative;
	display: block;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: url('../assets/banner.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 96% 55%;
	/* position: relative;
	padding-top: 20px;
	width: 1440px;
	height: 848px;
	background-image: url('../assets/banner.png');
	background-repeat: no-repeat; */
}

.home_main_title_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 700px;
	text-align: left;
}

.big_title {
	color: #000;
	font-family: Pretendard;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.small_title {
	color: #000;
	font-family: Pretendard;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.home_feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a4d6de;
}

.feature_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1440px;
	height: 848px;
	padding-top: 100px;
	margin-top: 20px;
}

.feature_title {
	color: #000;
	text-align: center;
	font-family: Pretendard;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}

/* .swiper {
	width: 80%;
	height: 100%;
} */

.swiper-wrapper {
	box-sizing: border-box !important;
	margin-left: 4%;
}

.swiper-slide {
	filter: blur(3px) !important;
	width: 80%;
	height: 100%;
	text-align: center;
	/* background: #fff; */

	/* Center slide text vertically */
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.swiper-slide-active {
	filter: blur(0);
}

.swiper-button-next {
	background: url(/public/icon/home-right-arrow.png) no-repeat;
	background-size: 100% auto;
	background-position: center;
}

.swiper-button-prev {
	background: url(/public/icon/home-left-arrow.png) no-repeat !important;
	background-size: 100% auto;
	background-position: center !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}

/* 
.swiper-slide img {
	display: block;
	width: 50%;
	height: 50%;
	object-fit: cover;
} */

.feature_slide {
	width: 100%;
	height: 80%;
	margin-top: 50px;
	padding-left: 150px;
	padding-right: 80px;
	align-items: center;
}

.feature_swiper {
	width: 100%;
	height: 500px;
	padding-top: 3.125rem;
}

.feature_swiper_slider {
	width: 300px;
	height: 500px;
}

.feature_icon {
	width: 200px;
	height: 200px;
	align-items: center;
}

.feature_card {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 27px;
	box-shadow: 0 2px 10px 0 #848484;
	padding: 20px;
}

.feature_card_title {
	margin-top: 10px;
	color: #000;
	text-align: center;
	font-family: Pretendard;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.feature_card_description {
	margin-top: 10px;
	color: #000;
	text-align: center;
	font-family: Pretendard;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.home_emotion {
	background-color: #f3fdff;
	width: auto;
	height: 1700px;
}

.emotion_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;
}

.emotion-title {
	color: #000;
	text-align: center;
	font-family: Pretendard;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.emotion-text {
	margin-top: 250px;
	color: #000;
	text-align: center;
	font-family: Pretendard;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#clickImg {
	width: 222.955px;
	height: 222.952px;
	flex-shrink: 0;
}

.emotion-slide .noneClickImg {
	width: 124.783px;
	height: 124.766px;
	flex-shrink: 0;
}

.emotionBook-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slide-1 {
	width: 100%;
	height: 300px;
}

.slide-2 {
	width: 100%;
	height: 300px;
}
.slide-3 {
	width: 100%;
	height: 300px;
}
