.root {
	display: flex;
	box-sizing: border-box;
	margin: 0;
}

.left {
	flex: 1;
	max-width: 50%;
	height: 100vh;
	background-image: url('https://d3udu241ivsax2.cloudfront.net/v3/images/login/promotion_intro_bg.ac5237a5bed49b864cccee5224a464e4.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.right {
	flex: 1;
	height: 100vh;
}

.title {
	max-width: 100vw;
	padding-top: 50px;
	padding-left: 50px;
	color: #000;
	font-family: Pretendard;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#title1 {
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#title2 {
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.content {
	max-height: 100%;
	padding: 20px;
	margin-top: 7px;
}

.up_container {
	display: flex;
	flex-direction: column;
	max-height: 50%;
}

.agree {
	overflow-y: auto;
	height: 200px;
	line-height: normal;
}

.down_container {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	max-height: 50%;
}

.personalAgree {
	overflow-y: auto;
	height: 150px;
	line-height: normal;
}

.Btn_agree {
	padding: 8px;
	background-color: #dfdfdf;
	border-radius: 5px;
	margin-top: 10px;
	color: #353434;
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.btn_agree_ {
	padding: 8px;
	background-color: #dfdfdf;
	border-radius: 5px;
	margin-top: 10px;
	color: #353434;
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.btn_agree_active {
	background-color: #888;
	padding: 8px;
	border-radius: 5px;
	margin-top: 10px;
	color: #353434;
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.arrow {
	margin-top: 50px;
	float: right;
}

img {
	width: 20px;
	height: 30px;
}
