.landing_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	scrollbar-width: none;
}

.landing_top_container {
	display: flex;
	justify-content: center;
	background-color: #00b2fc;
	width: 100%;
	height: 600px;
	border-bottom-left-radius: 320px;
}

.landing_top_content_wrapper {
	width: 100%;
	max-width: 1120px;
	height: 80%;
}

.landing_top_title_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	font-family: var(--basic-font);
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	color: #fff;
	padding: 15px 35px;
}

#logo_title {
	font-size: 26px;
	font-family: var(--title-font);
}

#logo_login_title {
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	font-family: var(--title-font);
	border-radius: 10px;
}

.landing_top_content_intro_wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.content_intro_left_wrapper {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 55px;
}

.content_intro_left_wrapper > p {
	font-family: var(--basic-font);
	font-weight: 600;
	font-size: 60px;
	line-height: 70px;
	font-style: normal;
	color: #fff;
}

#content_intro_left_sub_title {
	margin-top: 25px;
	font-family: var(--basic-font);
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	font-style: normal;
	color: #fff;
}

.content_intro_right_wrapper {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 35px;
}

#landing-page-intro-icon {
	width: 500px;
	height: 380px;
	position: relative;
}

#content_intro_left_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 55px;
	border-radius: 10px;
	background-color: #fff;
	font-family: var(--basic-font);
	font-style: normal;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
	color: #00b2fc;
}

/* ============================  고민을 남겨보세요 섹션 */
@keyframes fadeIn {
	0% {
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.landing_worry_info_container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 800px;
	/* height: fit-content; */
	background-color: #fff;
	padding-top: 100px;
}

.landing_worry_info_content_wrapper {
	display: flex;
	width: 100%;
	height: fit-content;
	background-color: #fff;
	max-width: 1120px;
}

.worry_info_left_wrapper {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	padding-left: 55px;
}

.worry_info_left_wrapper > p {
	font-family: var(--basic-font);
	font-style: normal;
	font-size: 42px;
	font-weight: 600;
	line-height: 55px;
	color: #000;
}

#worry_write_to_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 225px;
	height: 50px;
	border-radius: 35px;
	background-color: #00b2fc;
	color: #fff;
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 1px;
	margin-top: 20px;
}

.worry_info_right_wrapper {
	position: static;
	width: 50%;
	/* background: yellow; */
	display: flex;
	flex-direction: column;
}

#worry-title1.animation,
#worry-title2.animation,
#worry-ex1.animation,
#worry-ex2.animation,
#worry-ex3.animation {
	-webkit-animation: fadeIn 2s forwards;
	animation: fadeIn 2s forwards;
}

.worry_ex1 {
	position: relative;
	left: -85px;
}

.worry_ex1 > b {
	font-weight: 600;
}

.worry_ex1_box {
	position: static;
	background: #fff;
	width: 500px;
	height: 150px;
	border-radius: 20px;
	box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.25);
}

#mimoji_icon1_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 95px;
	height: 95px;
	background: #f5f5f5;
	border-radius: 100%;
	z-index: 1;
	position: relative;
	left: -47px;
	top: 27px;
	box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.25);
}

#intro-icon1 {
	position: absolute;
	top: 8px;
	transform: rotate(5deg);
	width: 84px;
	height: 84px;
}

.worry_ex1_comment_wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 18px;
	left: 75px;
	width: 73%;
	height: 100%;
	line-height: 25px;
}

.worry_ex1_comment_wrapper > p {
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #454545;
	font-style: normal;
}

.worry_ex1_profile {
	display: flex;
	width: 100%;
	height: 20%;
	align-items: center;
	margin-bottom: 5px;
}

#worry_ex1_name {
	font-family: var(--basic-font);
	font-size: 22px;
	font-weight: 600;
	font-style: normal;
	margin-right: 15px;
	color: #000;
}

.worry_ex1_profile > p {
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #454545;
}

.worry_ex2 {
	position: relative;
	top: 30px;
}

.worry_ex2 > b {
	font-weight: 600;
}

.worry_ex2_box {
	position: static;
	background: #fff;
	width: 500px;
	height: 180px;
	border-radius: 20px;
	box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.25);
}

#mimoji_icon2_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 110px;
	background: #f5f5f5;
	border-radius: 100%;
	z-index: 1;
	position: relative;
	left: -55px;
	top: 35px;
	box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.25);
}

#intro-icon2 {
	position: absolute;
	top: -3px;
	left: -4px;
	transform: rotate(-6deg);
	width: 109px;
	height: 104px;
}

.worry_ex2_comment_wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	left: 75px;
	width: 74%;
	height: 100%;
}

.worry_ex2_profile {
	display: flex;
	width: 100%;
	height: 20%;
	align-items: center;
	margin-bottom: 5px;
}

.worry_ex2_profile > p {
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #454545;
	line-height: 22px;
}

#worry_ex2_name {
	font-family: var(--basic-font);
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	margin-right: 15px;
	color: #000;
}

.worry_ex2_comment_wrapper > p {
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	color: #454545;
	line-height: 26px;
}

.worry_ex3 {
	position: relative;
	top: 70px;
	left: -160px;
}

.worry_ex3_comment_wrapper > strong {
	font-weight: 600;
}

.worry_ex3_box {
	position: static;
	background: #fff;
	width: 530px;
	height: 185px;
	border-radius: 20px;
	box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.25);
}

#mimoji_icon3_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 130px;
	background: #f5f5f5;
	border-radius: 100%;
	z-index: 1;
	position: relative;
	left: -60px;
	top: 27px;
	box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.25);
}

#intro-icon3 {
	position: absolute;
	top: -62px;
	left: -79px;
	transform: rotate(-6deg);
	width: 285px;
	height: 270px;
}

.worry_ex3_comment_wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 30px;
	left: 90px;
	width: 74%;
	height: 100%;
}

.worry_ex3_profile {
	display: flex;
	width: 100%;
	height: 20%;
	align-items: center;
	margin-bottom: 5px;
}

.worry_ex3_profile > p {
	font-family: var(--basic-font);
	font-size: 17px;
	font-weight: 600;
	font-style: normal;
	margin-right: 15px;
	color: #454545;
}

#worry_ex3_name {
	font-family: var(--basic-font);
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	margin-right: 15px;
	color: #000;
}

.worry_ex3_comment_wrapper > p {
	font-family: var(--basic-font);
	font-size: 19px;
	font-weight: 400;
	font-style: normal;
	color: #454545;
	line-height: 26px;
}

.worry-card-bold {
	/* font-size: 19.5px; */
	font-weight: 600;
	color: #f27474;
}

/* ===============================  AI 처방과 한 줄 처방 섹션 */

@keyframes slideInFromLeft {
	0% {
		-webkit-transform: translateX(0, -20%, 0);
		transform: translateX(-20%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		-webkit-transform: translateX(0, 20%, 0);
		transform: translateX(20%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/*  animation: slideInFromLeft 1s ease-out; */

#ai-prscr.animation {
	-webkit-animation: slideInFromLeft 2s forwards;
	animation: slideInFromLeft 2s forwards;
}

#other-prscr.animation {
	-webkit-animation: slideInFromRight 2s forwards;
	animation: slideInFromRight 2s forwards;
}

.landing_prscr_container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 920px;
	/* height: fit-content; */
	background-color: #f1fbff;
	padding-top: 120px;
	border-top-right-radius: 30rem;
}

.landing_prscr_content_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	max-width: 1120px;
}

.landing_prscr_title_wrapper {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing_prscr_title_wrapper > p {
	font-family: var(--basic-font);
	font-style: normal;
	font-size: 42px;
	font-weight: 600;
	line-height: 55px;
	color: #000;
}

.landing_prscr_content {
	position: static;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	max-width: 1120px;
}

/* ===============================  AI 처방전 설명 */

.landing_prscr_ai_box {
	position: relative;
	top: 110px;
	right: -15px;
	display: flex;
	width: 800px;
	height: 330px;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.25);
}

.landing_prscr_ai_left_wrapper {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
}

#prscr_ai_icon {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	top: -65px;
	left: 10px;
	position: absolute;
}

.landing_prscr_right_wrapper {
	width: 80%;
	height: 100%;
	display: flex;
}

.ai-bubble {
	position: relative;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	width: 560px;
	height: 280px;
	background: #f4f4f4;
	border-radius: 10px;
	padding: 10px;
	top: 25px;
	left: 55px;
}

.ai-bubble:after {
	content: '';
	position: absolute;
	left: 8px;
	top: 21%;
	width: 0;
	height: 0;
	border: 49px solid transparent;
	border-right-color: #f4f4f4;
	border-left: 0;
	border-top: 0;
	margin-top: -24.5px;
	margin-left: -49px;
}

.ai-bubble_left_wrapper {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ai-bubble-title {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: flex-start;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 22px;
	font-weight: 600;
	font-family: var(--basic-font);
	font-style: normal;
	line-height: 26px;
	color: #000;
}

#ai-bubble-comment {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: flex-start;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 18px;
	font-weight: 500;
	font-family: var(--basic-font);
	font-style: normal;
	line-height: 32px;
	color: #000;
}

.ai-bubble_right_wrapper {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ai-bubble_thumbnail {
	margin-left: 5px;
	width: 93%;
	height: 80%;
}

.ai-bubble_bookInfo_wrapper {
	width: 100%;
	height: 20%;
	padding-left: 10px;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--basic-font);
	font-style: normal;
}

#ai-bubble_book_title {
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#ai-bubble_book_author {
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	color: #868686;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.landing_prscr_other_box {
	position: relative;
	top: 200px;
	left: 340px;
	width: 80%;
}

/* =================================== 처방전 작성 섹션 */
.landing_prscr_write_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1020px;
	background: linear-gradient(180deg, #f1fbff 32%, #ffffff 100%);
	padding-top: 120px;
}

.landing_prscr_write_content_wrapper {
	position: static;
	display: flex;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	max-width: 1120px;
	padding-top: 200px;
}

.landing_prscr_write_left_wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.landing_prscr_write_right_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 50%;
	height: 40%;
	z-index: 1;
}

.landing_prscr_write_right_wrapper > p {
	font-family: var(--basic-font);
	font-style: normal;
	font-size: 42px;
	font-weight: 600;
	line-height: 55px;
	color: #000;
}

/* ===============================  책국과 함께 해보세요 */

.join_container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	background-color: #fff;
	padding-top: 120px;
}

.join_content_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1120px;
	height: 800px;
	background-color: #fff;
}

.join_title_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
	font-size: 42px;
	font-family: var(--basic-font);
	font-style: normal;
	font-size: 42px;
	font-weight: 600;
	line-height: 55px;
	color: #000;
}

.join_content {
	position: relative;
	top: 30px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 80%;
}

/* ===============================  책국과 함께 해보세요 부분 카드 3가지 */

.join_prscr_card {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 410px;
	/* background: yellow; */
	border-radius: 25px;
	padding: 24px;
	box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.25);
	transition: 0.4s ease-in-out;
}

.join_prscr_card:hover {
	transform: scale(1.05);
	transition: 0.4s ease-in-out;
}

.join_prscr_card_title {
	width: 100%;
}

.join_prscr_card_title > p {
	font-family: var(--basic-font);
	font-size: 22px;
	font-weight: 600;
	line-height: 33px;
}

.join_prscr_card_subTitle {
	width: 100%;
	margin-top: 10px;
}

.join_prscr_card_subTitle > p {
	font-family: var(--basic-font);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #868686;
}

#today_prscr_card_icon {
	width: 200px;
	height: 200px;
	left: 30px;
	top: 20px;
	position: relative;
}

#ai_prscr_card_icon {
	width: 200px;
	height: 200px;
	left: 30px;
	top: 35px;
	position: relative;
}

#other_prscr_card_icon {
	width: 245px;
	height: 200px;
	left: 8px;
	top: 20px;
	position: relative;
}
