@font-face {
  font-family: "KCC-eunyoung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.banner-slider {
  width: 100%;
}

.loginHome-banner-container {
  width: 100%;
  height: 230px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

/* 배너 내용 위치 */
.loginHome-banner-contents {
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 40px;
}

.loginHome-banner-title h1 {
  color: black;
  font-size: 36px;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 8px;
  white-space: nowrap;
}

.loginHome-banner-contents h4 {
  color: black;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
  white-space: nowrap;
}

/* 로그인 홈 페이지 크기 설정 */
.loginHome-container {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  box-sizing: border-box;
}

/* 오늘의 처방전 */
.loginHome-prescription-section {
  padding: 80px 0px;
  max-width: 1080px;
  margin: 0 auto;
}

.loginHome-prescription-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.loginHome-prescription-subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  color: #757575;
}

.loginHome-prescription-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.loginHome-card {
  width: 100%;
  height: 270px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginHome-card h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.loginHome-book-info {
  display: flex;
  gap: 10px;
}

.loginHome-book-image {
  width: 160px;
  height: 235px;
}

.loginHome-book-container {
  width: 100%;
}

.loginHome-book-details {
  height: 155px;
}

.loginHome-book-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.loginHome-book-author {
  font-size: 14px;
}

.loginHome-book-button {
  height: 35px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}

.LoginHome-today-item {
  width: 30%;
  height: 452px;
  width: 330px;
  min-width: 255px;
  /* background-color: yellow; */
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(119, 119, 119, 0.25);
  border-radius: 15px;
  border: 5px #a4d6dd solid;
  margin-right: 60px;
}

.LoginHome-today-item-title,
.LoginHome-today-reviews-top-title,
.best-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.LoginHome-today-item-title {
  padding-bottom: 13px;
  border-bottom: 3px #a4d6dd solid;
}

.LoginHome-today-item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginHome-today-item-contents-text {
  display: flex;
  line-height: 27px;
  font-family: "Chosunilbo_myungjo";
  height: 53px;
}

.LoginHome-today-item-contents-text-hightlight {
  position: relative;
  top: -5px;
  font-size: 24px;
  line-height: 36px;
  font-family: "KCC-eunyoung";
  margin: 0 15px 24px;
  min-width: 50px;
  text-align: center;
}

.LoginHome-today-item-contents-text-hightlight::after {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: black;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.LoginHome-today-item-contents > img {
  width: 148px;
  height: 210px;
  background: #d9d9d9;
  margin-bottom: 10px;
  border-radius: 5px;
}

.LoginHome-today-item-contents-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.LoginHome-today-item-contents > h4 {
  font-size: 12px;
  margin-bottom: 38px;
}

.LoginHome-today-item-contents-date {
  font-size: 16px;
  font-weight: 400;
}

.LoginHome-today-reviews-top-subtitle,
.best-subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.LoginHome-today-item-title {
  padding-top: 24px;
  text-align: center;
}

/* 다른사람들의 후기 전체 크기 설정 */

.LoginHome-today-reviews {
  flex: 1;
  /* height: 452px; */
  margin-top: 120px;

  /* background-color: bisque; */
}

.LoginHome-today-reviews-top {
  position: relative;
  margin-bottom: 20px;
}

.LoginHome-today-reviews-top-button {
  content: "";
  display: block;
  position: absolute;
  background: url("https://d3udu241ivsax2.cloudfront.net/v3/images/home/home-arrow.1d44465b5740ec5a613dd2e125d8f602.png");
  width: 24px;
  height: 24px;
  background-size: cover;
  top: 12px;
  right: 0;
}

.LoginHome-today-reviews-items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* overflow: hidden; */
}

.LoginHome-today-reviews-items > li {
  box-sizing: border-box;
  /* background: linear-gradient(111deg, #cafadf 0%, #d5e0ff 100%); */
  box-shadow: 1px 1px 4px rgba(118.97, 118.97, 118.97, 0.25);
  border-radius: 10px;
}

.LoginHome-today-reviews-items-card {
  position: relative;
  /* width: 393px; */
  width: 100%;
}
.LoginHome-today-reviews-items-card:hover {
  background-color: #f5f6f7;
}

.LoginHome-today-reviews-items-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 0px 12px;
  height: 150px;
}

.LoginHome-today-reviews-items-card-body > p {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 표시할 줄 수 지정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 160px;
  font-size: 15px;
  font-weight: 500;
}

.LoginHome-today-reviews-items-card-book {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.LoginHome-today-reviews-items-card-book > img {
  width: 74px;
  height: 106px;
  background: #d9d9d9;
  border-radius: 5px;
  margin-bottom: 8px;
}

.LoginHome-today-reviews-items-card-book > h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  -webkit-line-clamp: 1;
}

.LoginHome-today-reviews-items-card-book > h3 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  -webkit-line-clamp: 3;
  color: #717a76;
}

.LoginHome-today-reviews-items-card-date {
  position: absolute;
  top: 9px;
  right: 6px;
  color: #757575;
  font-size: 10px;
}

.LoginHome-today-reviews-items-card-footer {
  display: flex;
  border-radius: 0px 0px 10px 10px;
  padding: 16px 16px;
  height: 60px;
  align-items: center;
  margin-top: -16px;
}

.LoginHome-today-reviews-items-card-footer > img {
  width: 35px;
  height: 35px;
  background: #a4d6dd;
  border-radius: 20px;
  margin-right: 10px;
}

.LoginHome-user-img-container {
  width: 35px;
  height: 35px;
  background: #a4d6dd; /* 기본 회색 배경 */
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginHome-user-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.LoginHome-today-reviews-items-card-footer > p {
  height: 100%;
  line-height: 1.2rem;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.LoginHome-card-date {
  font-size: 10px;
  margin-top: 4px;
  color: #757575;
}

.best,
.newbook,
.recommend-book {
  height: 332px;
  padding: 0px 22px;
  margin-bottom: 50px;
}

.recommend-book {
  margin-bottom: 128px;
}

.title-wrapper {
  margin-left: 20px;
  margin-bottom: 15px;
}

.loginHome-slider-container {
  max-width: 1120px;
  margin: 0 auto;
}

.loginHome-slider {
  width: 100%;
}
