.myListModal_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9999;
}

.myListModal_wrapper {
	width: 1000px;
	height: 650px;
	border-radius: 15px;
	background-color: #fff;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.myListModal_left_wrapper {
	width: 100%;
	height: 600px;
	background-color: #fff;
	border-radius: 15px;
}

.myList_search_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.myList_search_wrap_inner {
	display: flex;
	align-items: center;
	width: 950px;
	height: 45px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	padding: 10px 0px 10px 12px;
	border-radius: 0.5rem;
	margin-top: 20px;
}

.myList_search_button {
	width: 32px;
	height: 32px;
	background: url('../assets/search-icon.svg');
	margin-top: 4px;
}

.myList_search_input {
	width: 100%;
	height: 30px;
	font-size: 14px;
	padding-left: 20px;
	border: none;

	font-family: var(--basic-font);
}

.myList_search_input:focus {
	outline: none;
}

.left_inputList_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 24px;
	margin-top: 20px;
}

.inputList_container {
	display: flex;
	height: 430px;
	gap: 25px;
}

.left_inputList_wrapper h4 {
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	margin-bottom: 10px;
}

.left_inputList_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 5px 0;
	background-color: #f5f5f5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	overflow-y: scroll;
	overflow-x: hidden;
}

.myListModal_right_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	background-color: #c8edf2;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.myListModal_right_wrapper h1 {
	text-align: center;
	/* font-family: 'HakgyoansimWoojuR'; */
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 52px;
	margin-top: 10px;
}

.right_selectList {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 65%;
	padding: 10px 0;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.CloseButton {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.CloseButton::before,
.CloseButton::after {
	position: absolute;
	top: 10px;
	right: 20px;
	content: ' ';
	height: 25px;
	width: 3.5px;
	background-color: #575757;
}

.CloseButton::before {
	transform: rotate(45deg);
}

.CloseButton::after {
	transform: rotate(-45deg);
}

.select_complete_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 24px;
	margin-top: 15px;
}

/* 선택완료 버튼 */
.select_complete {
	width: 100%;
	height: 45px;
	background: white;
	box-shadow: 0px 0px 0px 0px #21825b;
	border-radius: 10px;
	opacity: 1;
	transition: all 0.2s;

	line-height: 35px;

	/* Font */
	text-align: center;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.select_complete:hover {
	background: #a4d6dd;
	/* background: #00ae68; */
	/* box-shadow: 0px 0px 0px 5px #21825b; */
	/* box-shadow: 6px 6px 30px rgba(119, 119, 119, 0.466667),
		inset 4px 4px 4px rgba(0, 0, 0, 0.25); */
	border-radius: 10px;

	/* Font */
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
}
