* {
}

/* 검색 페이지 전체 */
.search-container {
  max-width: 1440px;
  /* margin: 50px; */
  margin: 50px auto;
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
}

/* 검색창 */
.search-wrapper,
.recommend-word-wrapper,
.user-recommend-word-wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 77px;
}

.search-wrap-inner {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0px 10px 12px;
  border-radius: 0.5rem;
}

/* .search-button {
  width: 32px;
  height: 32px;
  background: url("../assets/search-icon.svg");
  margin-top: 4px;
} */

.search-select {
  border: none;
  font-size: large;
}

.search-select:focus {
  outline: none;
}

.search-input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 20px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-close-button {
  width: 50px;
  height: 40px;
  font-size: 1.5rem;
  position: absolute;
  right: 70px;
  background-color: #fff;
}

/* 추천 검색어 && 사용자 추천 키워드*/

.recommend-title {
  font-size: 24px;
  font-weight: bold;
}

.recommend-keyword-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 0px;
}

.recommend-keyword-wrapper li {
  border: 2px solid #a4d6de;
  margin: 5px 8px 5px 0px;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 16px;
}

/* 카테고리 */

.category-items {
  width: 100%;
  padding: 17px 0px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.category-item-wrapper {
}

.category-grid-item {
  width: 100%;
  height: 135px;
  /* background-color: #CBD4F0; */
  border-radius: 5px;
  /* padding: 43px 0px 43px 22px; */
  padding: 43px 160px 43px 22px;
  box-shadow: 2px 2px 4px rgba(119, 119, 119, 0.25);
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  overflow: hidden;
}

.category-grid-description {
}

.category-grid-item-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.category-grid-item-subtitle {
  color: #454545;
  font-size: 16px;
}

.category-grid-item-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 115px;
  height: 160.465px;
  transform: rotate(-30deg);
}
