@keyframes showModal {
	from {
		top: 5px;
		opacity: 0;
		z-index: -1;
	}
	to {
		top: 70px;
		opacity: 1;
		z-index: 1;
	}
}

@keyframes closeModal {
	from {
		top: 70px;
		opacity: 1;
		z-index: 1;
	}
	to {
		top: 5px;
		opacity: 0;
		z-index: -1;
	}
}

.searchBook_modal_container_true {
	position: absolute;
	z-index: 1;
	top: 70px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	width: 695px;
	height: 330px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	padding: 20px 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
	animation: showModal 0.5s ease-in-out;
	overflow-y: scroll;
}

.searchBook_modal_container_false {
	position: absolute;
	width: 695px;
	height: 330px;
	z-index: -1;
	top: 5px;
	animation: closeModal 2s ease-in-out;
	transition: all 1s;
}

.searchBook_modal_item_wrapper {
	display: flex;
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	padding: 10px 0;
}

.searchBook_modal_item_wrapper:hover {
	background-color: aliceblue;
	cursor: pointer;
}

.item_left_wrapper {
	display: flex;
	width: 15%;
	justify-content: center;
}

#item_thumbnail {
	width: 85px;
	height: 110px;
}

.item_right_wrapper {
	width: 50%;
	height: 100%;
}

.item_right_wrapper > p {
	font-family: var(--basic-font);
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	color: #a4a4a4;
}

#item_title {
	font-family: var(--basic-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: #000;
	margin-bottom: 10px;
	padding-top: 3px;
}
