.searchBook_modal_container {
	display: flex;
	align-items: center;
	width: 690px;
	height: 330px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
}
