.signup3_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1080px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 45px 60px 10px;
}

.signup3_up_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding-top: 20px;
}

.signup3_up_title_tag_wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
}

.signup3_up_title_wrapper {
	display: flex;
	flex-direction: column;
}

.signup3_title {
	box-sizing: border-box;
	margin-right: 15px;
	margin-bottom: 10px;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 57px;
}

.select_tag_wrapper {
	display: flex;
	justify-content: flex-start;
	padding: 0 40px;
	margin-top: 10px;
	/* display: flex; */
	align-items: center;
	width: 100%;
	height: 40px;
	/* padding: 0 10px; */
	/* background-color: yellow;*/
}

.select_item_tag {
	width: fit-content;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 15px;
}

.signup3_up_subTitle_step_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.signup3_step_wrapper {
	display: flex;
	align-items: center;
	padding-top: 45px;
}

.signup3_circle-1 {
	z-index: 1;
	position: relative;
	right: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	background: #a4d6de;
	border-radius: 100%;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
}

.signup3_circleToLine {
	z-index: 0;
	position: relative;
	right: -10px;
	width: 15px;
	height: 7px;
	background: #a4d6de;
}

.signup3_circle-2 {
	z-index: 1;
	position: relative;
	right: -8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	background: #a4d6de;
	border-radius: 100%;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
}

.signup3_circleToLine2 {
	z-index: 0;
	position: relative;
	right: -4px;
	width: 15px;
	height: 7px;
	background: #a4d6de;
}

.signup3_circle-3 {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: #a4d6de;
	border-radius: 100%;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

.signup3_subTitle {
	box-sizing: border-box;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.signup3_mid_wrapper {
	width: 100%;
	height: 395px;
	/* margin-top: 0px; */
	padding: 10px 30px 30px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(5, 1fr);
	box-sizing: border-box;
}

.user_interest_bigCtg_item {
	width: 150px;
	height: 150px;
	margin: 10px;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;

	/* Font */
	color: #fff;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;

	/* Background Image */
	background-size: 150px !important;
	background-position: center !important;
}

.user_interest_item {
	width: 150px;
	height: 150px;
	margin: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: #ffdadf;

	color: #000;
	font-family: var(--basic-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}

.user_interest_item:hover,
.user_choice_back:hover {
	background-color: #f8b0b9;
	cursor: pointer;
}

.user_choice_back {
	width: 150px;
	height: 150px;
	margin: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: #ffdadf;
}

.user_choice_back_btn {
	width: 30px;
	height: 30px;
}

#general {
	background: url('../assets/interest_category_general.png');
}

#philosophy {
	background: url('../assets/interest_category_philosophy.png');
}

#religion {
	background: url('../assets/interest_category_religion.png');
}

#social {
	background: url('../assets/interest_category_social-science.png');
}

#natural {
	background: url('../assets/interest_category_natural-science.png');
}

#tech {
	background: url('../assets/interest_category_tech.png');
}

#art {
	background: url('../assets/interest_category_art.png');
}

#language {
	background: url('../assets/interest_category_language.png');
}

#literature {
	background: url('../assets/interest_category_literature.png');
}

#history {
	background: url('../assets/interest_category_history.png');
}

#general:hover {
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_general.png');
	cursor: pointer;
}

#philosophy:hover {
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_philosophy.png');
	cursor: pointer;
}

#religion:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_religion.png');
}

#social:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_social-science.png');
}

#natural:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_natural-science.png');
}

#tech:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_tech.png');
}

#art:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_art.png');
}

#language:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_language.png');
}

#literature:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_literature.png');
}

#history:hover {
	cursor: pointer;
	background: linear-gradient(
			0deg,
			rgba(164, 214, 222, 0.78),
			rgba(164, 214, 222, 0.78)
		),
		url('../assets/interest_category_history.png');
}

.select_complete_button {
	margin: 20px 0;
	width: 875px;
	height: 45px;
	border-radius: 10px;
	background-color: #c8edf2;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.select_complete_button:hover {
	background-color: #a4d6de;
}

.signup3_footer {
	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
