.skeleton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 160px;
  background-color: #edf9f3;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  height: 100vh;
  background-color: #c1ecd4;
}

.skeleton-title {
  width: 60%;
  height: 24px;
  margin-bottom: 16px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-subtitle {
  width: 40%;
  height: 20px;
  margin-bottom: 32px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-img {
  width: 280px;
  height: 390px;
  margin-bottom: 32px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-text {
  width: 80%;
  height: 16px;
  margin-bottom: 16px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
