.item-wrapper {
	width: 148px;
	height: 269px;
	margin-right: 10px;
}

.item-image {
	background-color: #d9d9d9;
	box-sizing: border-box;
	height: 210px;
	border-radius: 5px;
}

.item-detail {
	padding-top: 16px;
}

.item-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 4px;
}

.item-author {
	font-size: 14px;
	font-weight: 500;
}

.item-rank {
	font-family: 'Pretendard';
	position: absolute;
	font-size: 96px;
	font-weight: 900;
	content: '1';
	top: 90px;
	left: -25px;
	z-index: 100;
	letter-spacing: -15px;
	/* background-color: aqua; */
}

.swiper-button-prev,
.swiper-button-next {
	color: #575757 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 2rem !important;
	font-weight: 1000 !important;
	margin-bottom: 40px;
}

.swiper-button-prev:after {
	margin-left: -25px;
}

.swiper-button-next:after {
	margin-right: -20px;
}

.swiper {
	padding-left: 30px;
	cursor: grab;
}

.test {
}
