.loginHome-best-wrapper {
  /* padding: 0px 80px; */
}

.item-wrapper {
  width: 148px;
  height: 269px;
}

.item-image img {
  background-color: #d9d9d9;
  box-sizing: border-box;
  height: 210px;
  border-radius: 5px;
  -webkit-line-clamp: 1;
}

.item-detail {
  padding-top: 16px;
}

.item-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-author {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-rank {
  /* font-family: "Pretendard"; */
  position: absolute;
  font-size: 96px;
  font-weight: 900;
  content: "1";
  top: 90px;
  left: -25px;
  z-index: 100;
  letter-spacing: -5px;
}

.loginHome-slider {
  padding-left: 20px;
}

.loginHome-prev-button {
  position: relative;
  top: 210px;
  left: -60px;
  padding: 10px;
  z-index: 10;
  background-color: white;
}

.loginHome-next-button {
  position: relative;
  top: 210px;
  right: -1080px;
  padding: 10px;
  z-index: 10;
  background-color: white;
}
