.cnsView_container {
	display: flex;
	flex-direction: column;
	width: 1120px;
	height: 200px;
	border-radius: 15px;
	padding: 30px 40px;
	margin: 20px 0;

	/* Drop Shadow */
	box-shadow: 4px 4px 18px 0px rgba(119, 119, 119, 0.25);
	transition: all 0.2s ease-in-out;
}

.cnsView_container:hover {
	transform: scaleX(1.1);
}

.cns_user_wrapper {
	position: relative;
	top: 0px;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 30px;
	align-items: center;
}

.cns_user_left_wrapper {
	width: 40px;
	height: 40px;
	background-color: #d9d9d9;
	border-radius: 100%;
	margin-right: 15px;
}

.cns_user_right_wrapper {
	display: flex;
	flex-direction: column;
}

.cns_user_name {
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 19px;
}

.cns_feed_date {
	font-family: var(--basic-font);
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	margin-top: 3px;
}

.user_cns_text_wrapper {
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--basic-font);
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	top: 0;
}
