@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

@font-face {
	font-family: 'recipekorea';
	src: url('./font/Recipekorea\ 레코체\ FONT.ttf');
}

/* Header */

header {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e2e2e2;
}
