/* Header */

header {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
}

header > div {
	display: flex;
	margin: 10px;
}
