.edit_container {
	box-sizing: border-box;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Pretendard-Regular';
}

.edit_title_wrapper {
	width: -moz-available; /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	width: fill-available;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit_title_text {
	color: #000;
	text-align: center;
	font-family: 'Pretendard-Regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.edit_content_wrapper {
	margin: 0 auto;
	max-width: 1080px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.edit_profile_img_wrapper {
	width: 100%;
	max-width: 1080px;
	height: 230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
}

.edit_profile_img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 3px solid #fff;
	background: #ffdadf;
	/* background: url(<path-to-image>), lightgray 50% cover no-repeat; */
}

.edit_user_info_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 130px;
	max-width: 1080px;
}

.oauth_password_input_wrapper,
#user_name_wrapper,
.user_nickname_wrapper,
.user_comment_wrapper,
.user_id_wrapper,
.user_password_wrapper,
.user_email_wrapper,
.user_birthday_wrapper,
.user_job_wrapper,
.user_gender_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}

#comment_inputBox {
	width: 940px;
	height: 130px;
	padding: 10px;
	border-radius: 15px;
	resize: none;
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 19px;
}

.nickname_input_wrapper {
	display: flex;
	align-items: center;
}

.password_input_wrapper {
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	margin-bottom: 32px;
}

.input_title {
	position: sticky;
	color: #000;
	font-family: var(--basic-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 14px;
}

.nickname_text,
.password_text {
	display: flex;
	align-items: center;
	width: 940px;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px;
	background: #fff;
	margin-right: 24px;
	padding-left: 10px;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.id_text,
.email_text {
	display: flex;
	align-items: center;
	width: 940px;
	height: 40px;
	border-radius: 10px;
	/* background: #d5e0ff; */
	background: #c8edf2;
	margin-right: 24px;
	padding-left: 10px;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.birthday_text {
	display: flex;
	align-items: center;
	width: 211px;
	height: 40px;
	border-radius: 10px;
	/* background: #d5e0ff; */
	background: #c8edf2;
	padding-left: 10px;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.job_input_wrapper {
	display: flex;
}

.job_text {
	display: flex;
	align-items: center;
	width: 211px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #000;
	background: #fff;
	padding-left: 10px;
	margin-right: 24px;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

#total_submit_btn {
	width: 100%;
	height: 60px;
	border-radius: 10px;
	border: 2.5px solid #a4d6dd;
	background: #fff;
	box-shadow: 2px 2px 4px 0px rgba(119, 119, 119, 0.25);
	color: #646464;
	font-family: var(--basic-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	margin-top: 80px;
	margin-bottom: 100px;
}

#total_submit_btn:hover {
	background: #a4d6dd;
	color: #000;
}

.gender_text {
	display: flex;
	align-items: center;
	padding-left: 10px;
	width: 69px;
	height: 40px;
	border-radius: 10px;
	/* background: #d5e0ff; */
	background: #c8edf2;

	/* Font */
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.oauth_password_text {
	display: flex;
	align-items: center;
	width: 940px;
	height: 40px;
	border-radius: 10px;
	/* background: #d5e0ff; */
	background: #c8edf2;
	margin-right: 24px;
	padding-left: 10px;
	color: #000;
	font-family: var(--basic-font);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
